
<div *ngIf="!loader" class="mainContainer" >
  <div *ngIf="!showForm" class="mat-elevation-z8">
      <table mat-table [dataSource]="classes" class="table" >

          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nome da Turma</th>
            <td mat-cell *matCellDef="let class"> {{class.name}} </td>
            <button mat-cell>edit</button>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="ageRage">
            <th mat-header-cell *matHeaderCellDef> Horário de Início </th>
            <td mat-cell *matCellDef="let class"> {{class.startTime}} </td>
          </ng-container>
      
          <!-- Weight Column -->
          <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef> Horário de Fim </th>
            <td mat-cell *matCellDef="let class"> {{class.endTime}} </td>
          </ng-container>
      
          <!-- Symbol Column -->
          <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef> Faixa Etária </th>
            <td mat-cell *matCellDef="let class"> {{class.ageRange}} </td>
          </ng-container>
      
          <ng-container matColumnDef="teacher">
            <th mat-header-cell *matHeaderCellDef> Professor </th>
            <td mat-cell *matCellDef="let class"> 
              <!-- bind of teacher to class -->
              <span *ngFor="let teacher of teachers">
                <span *ngIf="teacher.id == class.teacher">{{teacher.name}}</span> 
              </span>
                
              <mat-icon (click)="deleteClass(class)" class="icon"  matTooltip="remover" inline="true">delete</mat-icon>
              <mat-icon (click)="editClass(class)" class="icon"  matTooltip="editar" inline="true">edit</mat-icon>

            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </div>
  <button *ngIf="!showForm" (click)="setFormView(true)" mat-raised-button color="primary" >Adicionar</button>

  <!-- Form add, update -->
  <form *ngIf="showForm" [formGroup]="classForm">
      <mat-form-field>
          <input type="text" matInput placeholder="Nome da Turma" formControlName="name">
      </mat-form-field>

      <!-- age rage -->
      <mat-form-field class="example-margin">
        <mat-label>Idade Mínima</mat-label>
        <input matInput min="0" type="number" formControlName="startAge" >
      </mat-form-field>

      <mat-form-field class="example-margin">
          <mat-label>Idade Máxima</mat-label>
          <input matInput max="10" type="number" formControlName="endAge" >
      </mat-form-field>

      <!-- start time -->
      <mat-form-field class="example-margin">
          <mat-label>Horário de Início</mat-label>
          <input matInput min="0" type="time" formControlName="startTime" >
        </mat-form-field>

      <!-- end time -->
      <mat-form-field class="example-margin">
          <mat-label>Horário de Fim</mat-label>
          <input matInput max="10" type="time" formControlName="endTime">
      </mat-form-field>

      <!-- teacher -->
      <mat-form-field appearance="fill">
          <mat-label>Professor</mat-label>
          <mat-select formControlName="teacher">
              <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
              {{teacher.name}}
              </mat-option>
          </mat-select>
      </mat-form-field>
  </form>
  <button *ngIf="showForm" (click)="save()" mat-raised-button color="primary" >Salvar</button>
  <button *ngIf="showForm" (click)="setFormView(false)" mat-raised-button color="primary" >Voltar</button>
</div>

<mat-spinner *ngIf="loader"></mat-spinner>

